# General parameters, like the name and version.
application.version=2.2.1

########################## Testing Parameters #############################
# JDBC credentials for unit testing.  In production, we're using the jndi 
# data source in the persistence.xml file. Remember, encrypted values 
# need to start with "{aes}"
test.jdbc.driver=oracle.jdbc.driver.OracleDriver
test.jdbc.url=jdbc:oracle:thin:@vader:1521:devl
test.jdbc.username=sane_owner
test.jdbc.password=<password>
jndi.data.source=jdbc/test
hibernate.show.sql=true

############################################################################
# Application specific configuration.
# This is where values that don't impact the framework go.  You will probably
# want to specify a deployment location and name for the log4j log file.

########################## Misc Parameters #################################
# log4j logging level. Must be ALL, TRACE, DEBUG, INFO, WARN, ERROR, FATAL, or
# NONE.  ALL, TRACE, and DEBUG are probably a bad bet for production...
# Log level for the app.
app.log.level=DEBUG
# Log level for everything else.
default.log.level=WARN
# Fully qualified name of the unit test log4j log dir. Used to derive both log
# files.
test.log.dir=e:/projects/framework
# prefix for log files.
test.log.prefix=framework

